/* Table of Contents

1 Default
2 Elements
	2.1 Nav
	2.2 Header Keyhotee
	2.3 Header BitsharesX
	2.4 Content
*/


/*
*
*
*
* 1 Default
*/

p {
	font-weight: 500;
	line-height: 24px;
	color: #1b485d;
}

h1, h2, h3, h4, h5, h6 {
	color: #1b485d;
}

#white {
	padding: 40px 0;
}

#white a {
	text-decoration: underline;
}

#white a:hover {
	color: #111;
}

#white ul {
	list-style: disc inside;
	margin: 0;
	padding: 0;
	font-weight: 500;
}

#white ul a {
	text-decoration: none;
}

#white .item {
	padding: 30px 30px 0 0;
}

#white .item p:last-child {
	margin-bottom: 0;
}

.sidebar {
	padding-top: 90px !important;
}

.sidebar .block {
	background-color: #f2f7f9;
	padding: 20px 30px;
	color: #1b485d;
	margin-bottom: 30px;
}

.sidebar .block h2,
.sidebar .block h3 {
	color: #1b485d;
}

.sidebar .block p {
	line-height: 24px;
}

.btn {
	background-color: #1d4c60;
	color: #fff;
	padding: 8px 15px;
	text-align: center;
	font-weight: 700;
	font-size: 15px;
	border-radius: 3px;
	text-decoration: none !important;
}

.btn:hover {
	background-color: #2c657d;
	color: #fff !important;
}

.btn.light {
	background-color: #80a9ba;
}

.btn.light:hover {
	color: #fff !important;
	background-color: #96becf;
}

.btn.large {
	padding: 12px 30px;
	font-size: 17px;
}

.btn.large:hover {
	color: #fff !important;
}

#f {
	background-color: #f2f7f9;
	color: #1b485d;
}

#f h4 {
	color: #1b485d;
}

#f p {
	color: #1b485d;
}

#f a {
	color: #1b485d;
	text-decoration: underline;
}

#f a:hover {
	color: #000;
}




/*
*
*
*
* 2 Elements
*/

/* 2.1 Nav */
.nav > li > a {
	font-weight: 700;
}

/* 2.2 Header Keyhotee */
#headerwrap.keyhotee {
	/*background: none #afe1f8;*/
	background: url(../img/windmills_in_holl.jpg)  no-repeat center top;
	background-position: center bottom;
	background-attachment: relative;
	min-height: 400px;
  background-height:100%;
  background-width:100%;
  /*background-size:100%;
	color: #1b485d;*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#headerwrap.keyhotee .row {
	margin-bottom: 60px;
	text-align: center;
}

#headerwrap.keyhotee h1,
#headerwrap.keyhotee h2 {
	color: #1b485d;
}

#headerwrap.keyhotee h3 {
	font-family: "Open Sans";
	font-size: 14px;
	line-height: 20px;
	text-align: center;
}

#headerwrap.keyhotee .buttons {
	padding: 20px 0 10px 0;
}

#headerwrap.keyhotee .buttons a {
	display: inline-block;
	margin: 0 10px;
}

/* 2.3 Header BotsharesX */
#headerwrap.bitsharesx {
	background: url(../img/stockback.jpg)  no-repeat center top;
	min-height: 400px;
  background-size:100% 100%;
}
#headerwrap.ags {
	background: url(../img/above-the-clouds-hd-wallpaper.jpg)  no-repeat center top; 
	min-height: 400px;
  background-size:100% 100%;
}
#headerwrap.pts {
	background: url(../img/blueprint.jpg)  no-repeat center top; 
	min-height: 400px;
  background-size:100% 100%;
}

#headerwrap.bitsharesx .buttons,
#headerwrap.index-page .buttons {
	padding: 30px 0 90px 0;
}

#headerwrap.bitsharesx .buttons a,
#headerwrap.index-page .buttons a {
	display: inline-block;
	border: 0;
	margin: 0 10px;
	padding: 14px 40px;
	background-color: #4885ab;
}

#headerwrap.bitsharesx .buttons a:hover,
#headerwrap.index-page .buttons a:hover {
	background-color: #619dc3;
}

#headerwrap.index-page {
	text-align: center;

}

#headerwrap.index-page h2 {
	color: #b1cbdb;
}

/* 2.4 Content */
.boxes {
	margin-bottom: 70px;
}
.lightblue-bg {
	background-color: #f2f7f9;
	padding: 60px 0 0 0;
	overflow: hidden;
}

.lightblue-bg img {
	box-shadow: 0 0 40px #aec7d1;
}

.downloads h2 {
	font-size: 46px;
	font-weight: bold;
	margin-bottom: 30px;
}

.downloads p {
	color: #759eaf;
	font-size: 22px;
	line-height: 32px;
	width: 80%;
}

.paper {
	text-align: center;
}

.paper .part-01 {
	background-color: #1e4b60;
}

.paper .part-02 {
	background-color: #afe1f8;
}

.paper img {
	display: inline-block;
}

.paper .download-section {
	display: none;
	padding: 50px 0;
	background-color: #1e4b60;
	color: #fff;
}

.paper .download-section h2 a {
	font-size: 32px;
	color: #94bed2;
	text-decoration: none !important;
}

.paper .download-section h2 a:hover {
	color: #fff !important;
}

.full-info {
	padding: 40px 0;
}

.full-info h2 {
	font-weight: bold;
	font-size: 36px;
	margin-bottom: 40px;
}


#white.bitsharesx .boxes {
	padding-top: 40px;
}

#white.bitsharesx .boxes h2 {
	font-size: 30px;
	line-height: 40px;
}

#white.bitsharesx .boxes img.bitsharesx-logo {
	width: 100%;
}

#white.bitsharesx .boxes ul {
	list-style: none outside;
}

#white.bitsharesx .boxes li {
	background-color: #4aa6d4;
	display: inline-block;
	width: 27%;
	float: right;
	color: #fff;
	min-height: 140px;
	text-align: center;
	margin: 0 30px;
	margin-bottom: 30px;
	border-radius: 3px;
}

body #white.bitsharesx .boxes li h3 {
	margin: 0 0 15px 0;
	padding: 0;
	color: #fff;
	padding: 20px 15px;
	background-color: #105077;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

body #white.bitsharesx .boxes li span {
	font-size: 16px;
	font-weight: 700;
}

.bitshares .bitsharesx-logo {
	box-shadow: none;
	width: 60%;
}

.specs-table h3.maintitle {
	text-align: center;
	font-size: 40px;
	margin-bottom: 40px;
	min-height: 50px;
}

.bitsharesx .lightblue-bg {
	overflow: visible;
	padding-bottom: 90px;
}

.bitsharesx .specs-table h2 {
	font-size: 50px;
	text-align: center;
	margin-bottom: 50px;
}

#white.bitsharesx .specs-table .mono-img {
	text-align: center;
	margin-bottom: 30px;
}

#white.bitsharesx .specs-table .mono-img img {
	height: 130px;
	box-shadow: none;
}

#white.bitsharesx .specs-table ul {
	list-style: none outside;
	background-color: #fff;
	padding: 30px 40px 20px 40px;
	text-align: center;
	color: #1b485d;
	font-size: 15px;
	border-radius: 3px;
	border: 1px solid #d8e2e6;
	box-shadow: 0 2px 2px #d8e2e6;
}

#white.bitsharesx .specs-table ul {
	width: 70%;
	margin: 0 auto;
}

#white.bitsharesx .specs-table .your-bank ul {
	color: #668fa2;
}

.bitsharesx .specs-table li {
	margin-bottom: 8px;
	padding-bottom: 8px;
	border-bottom: 1px solid #f2f7f9;
}

.bitsharesx .specs-table li:last-child {
	border: none;
}

.bitsharesx .specs-table li img {
	width: 100%;
	box-shadow: none;
	margin-bottom: 20px;
}

.bitsharesx .specs-table li h3 {
	margin-bottom: 20px;
}

.bitsharesx .specs-table li.final {
	padding-top: 10px;
}

.bitsharesx .specs-table li.final span {
	display: inline-block;
	background-color: #faeae7;
	padding: 10px 20px;
	color: #a94d3b;
	border-radius: 3px;
	font-size: 15px;
	font-weight: 700;
}

.bitsharesx .specs-table .bitshares li.final span {
	background-color: #ebf2dd;
	color: #7d9849;
	font-weight: 700;
}

.bitsharesx .action-buttons {
	padding: 70px 0 30px 0;
	text-align: center;
}

.bitsharesx .action-buttons a.btn {
	padding: 20px 70px;
	margin: 0 20px;
	font-size: 18px;
	box-shadow: none;
	border: none;
}

/* Indexpage */
.index-content {
	background-color: #f2f7f9;
	padding: 40px 0;
}

.index-content .mt .inner {
	background-color: #fff;
	text-align: center;
	padding: 50px 0;
	border-radius: 3px;
	border: 1px solid #d8e2e6;
	box-shadow: 0 2px 2px #d8e2e6;
	margin-bottom: 30px;
}

.index-content .fa {
	font-size: 90px;
	color: #c7d7e0;
}

.index-content .mt h3 {
	font-size: 32px;
	margin-bottom:35px;
}

.index-content .mt .btn {
	padding: 14px 25px;
	border: none;
}

.index-sub-title.col-1 { min-height:60px; margin-bottom: 35px; }
.index-sub-title.col-2 { margin-top:-40px; margin-left:100px; margin-bottom: 35px; }
.index-sub-title.col-3 { margin-top:-30px; margin-left:90px; margin-bottom: 35px; }


/* BitShares Page */
.bitsharesx.bitshares .row.boxes:first-child {
	margin-bottom: 20px;
}

.bitsharesx.bitshares .boxes .col-md-3,
.bitsharesx.bitshares .boxes .col-md-12 {
	text-align: center;
}

.bitsharesx.bitshares .boxes h3 {
	font-size: 16px;
	line-height: 22px;
}

.bitsharesx.bitshares .lightblue-bg {
	background-color: #f7f7f7;
}

#white.bitsharesx.bitshares .specs-table ul {
	min-height: 440px;
}

#white.bitsharesx.bitshares .your-bank > .row,
#white.bitsharesx.bitshares .bitshares > .row {
	margin-bottom: 10px;
}

#white.bitsharesx.bitshares .your-bank img,
#white.bitsharesx.bitshares .bitshares img {
	box-shadow: none;
}

#white.bitsharesx.bitshares .bitshares img {
	position: relative;
	top: -10px;
}

#white.bitsharesx.bitshares .specs-table h2 {
	margin-bottom: 50px;
	padding-top: 20px;
}

#white.bitsharesx.bitshares .specs-table h3.maintitle {
	margin-bottom: 10px;
}

#white.bitsharesx.bitshares h2 {
	font-size: 40px;
	line-height: 50px;
	width: 70%;
	margin: 0 auto;
	text-align: center;
	margin-bottom: 10px;
}

#white.bitsharesx.bitshares .specs-table ul {
	background-color: #fff;
	color: #71767d;
	border: 1px solid #dfdfdf;
	box-shadow: 0 2px 2px #ccc;
}

#bitshare-big.large-logo {
	padding: 80px 0;
	background: url(../img/bitshares/grow.jpg) no-repeat center center #fff;
	background-size: cover;
}
#bitshare-big.large-logo img {
	width: 100%;
	max-width: 650px;
}


@media (max-width: 1200px) {

	#white.bitsharesx .boxes h2 {
		font-size: 26px;
		line-height: 36px;
	}

	#white.bitsharesx .boxes li {
		width: 25%;
		min-height: 140px;
		margin: 0 30px;
		margin-bottom: 30px;
	}

	.bitsharesx .specs-table li h3 {
		margin-top: 10px;
	}

	.bitsharesx .specs-table li {
		font-size: 13px;
	}

	#headerwrap.index-page h1 {
		font-size: 38px;
	}
	#headerwrap.index-page h2 {
		font-size: 28px;
	}
}

@media (max-width: 991px) {
	#headerwrap .col-md-3 {
		width: 50%;
		float: left;
		text-align: center;
		padding-bottom: 30px;
	}
	#headerwrap .col-md-3 h3 {
		width: 70%;
		margin: 0 auto;
	}

	.downloads .col-md-6 {
		padding-bottom: 50px;
	}

	.downloads .col-md-6:last-child {
		padding-bottom: 0;
	}

	#white.bitsharesx .boxes {
		text-align: center;
	}

	#white.bitsharesx .boxes h2 {
		font-size: 36px;
		line-height: 42px;
		text-align: center;
	}

	#white.bitsharesx .boxes img.bitsharesx-logo {
		width: 50%;
		margin: 0 auto 70px auto;
	}

	#white.bitsharesx .boxes ul {
		padding-right: 70px;
	}

	#white.bitsharesx .boxes li {
		width: 35%;
	}

	#white.bitsharesx .specs-table ul {
		width: 50%;
		margin: 0 auto 40px auto;
	}

	.col-md-6.your-bank {
		margin-bottom: 100px;
	}

	#white.bitsharesx .boxes li.clear-mobile {
		clear: right;
	}

	#headerwrap.index-page {
		padding-bottom: 50px;
	}

	#headerwrap.index-page .buttons {
		padding-bottom: 20px;
	}

	.bitsharesx .action-buttons a.btn {
		margin-bottom: 20px;
	}
}

@media (max-width: 768px) {
	.paper .part-01, .paper .part-02 {
		display: none;
	}

	.paper .download-section {
		display: block;
	}

	#headerwrap .buttons a {
		display: block !important;
		margin-bottom: 15px !important;
		width: 60%;
		margin: 0 auto 15px auto !important;
	}

	.full-info {
		padding: 0 30px;
	}

}

@media (max-width: 660px) {
	#white.bitsharesx .boxes h2 {
		padding: 0 30px;
	}

	#white.bitsharesx .boxes ul {
		padding-right: 20px;
	}

	#white.bitsharesx .boxes li {
		width: 90%;
		float: none;
	}

	#white.bitsharesx .boxes li h3 {
		font-size: 18px;
	}

	body #white.bitsharesx .boxes li span {
		font-size: 15px;
	}

	.action-buttons a {
		display: block;
		width: 90%;
		margin-bottom: 30px !important;
	}
}

@media (max-width: 600px) {
	#headerwrap .col-md-3 {
		width: 100%;
		float: none;
		text-align: center;
		padding-bottom: 30px;
	}
	#headerwrap .col-md-3 h3 {
		width: 50%;
		margin: 0 auto;
	}

	#headerwrap .buttons a {
		display: block !important;
		width: 100%;
		margin: 0 auto 15px 0 !important;
	}

	.downloads .col-md-6 {
		text-align: center;
	}

	.downloads .col-md-6 p {
		width: 100%;
	}

	#white.bitsharesx .boxes ul {
		padding: 0;
	}

	#white.bitsharesx .boxes li {
		width: 70%;
		float: none;
		min-height: 10px;
		padding-bottom: 20px;
	}

	#white.bitsharesx .boxes img.bitsharesx-logo {
		width: 90%;
	}

	#white.bitsharesx .specs-table ul {
		width: 90%;
	}
}

@media (max-width: 400px) {
	#headerwrap .col-md-3 h3 {
		width: 80%;
		margin: 0 auto;
	}

	.btn.large {
		font-size: 16px;
		padding: 10px 20px;
	}

	.downloads p {
		font-size: 17px;
		line-height: 25px;
	}

	.downloads a.btn,
	.sidebar a.btn {
		font-size: 14px;
		padding: 6px 10px;
	}
}
