/* Table of Contents

1 Default
2 Elements
	2.1 Nav
	2.2 Header Keyhotee
	2.3 Header BitsharesX
	2.4 Content
*/


/*
*
*
*
* 1 Default
*/

p {
	font-weight: 500;
	line-height: 24px;
	color: #1b485d;
}

h1, h2, h3, h4, h5, h6 {
	color: #1b485d;
}

#white {
	padding: 40px 0;
}

#white a {
	text-decoration: underline;
}

#white a:hover {
	color: #111;
}

#white ul {
	list-style: disc inside;
	margin: 0;
	padding: 0;
	font-weight: 500;
}

#white ul a {
	text-decoration: none;
}

#white .item {
	padding: 30px 30px 0 0;
}

#white .item p:last-child {
	margin-bottom: 0;
}

.sidebar {
	padding-top: 90px !important;
}

.sidebar .block {
	background-color: #f2f7f9;
	padding: 20px 30px;
	color: #1b485d;
	margin-bottom: 30px;
}

.sidebar .block h2,
.sidebar .block h3 {
	color: #1b485d;
}

.sidebar .block p {
	line-height: 24px;
}

.btn {
	background-color: #1d4c60;
	color: #fff;
	padding: 8px 15px;
	text-align: center;
	font-weight: 700;
	font-size: 15px;
	border-radius: 3px;
	text-decoration: none !important;
}

.btn:hover {
	background-color: #2c657d;
	color: #fff !important;
}

.btn.light {
	background-color: #80a9ba;
}

.btn.light:hover {
	color: #fff !important;
	background-color: #96becf;
}

.btn.large {
	padding: 12px 30px;
	font-size: 17px;
}

.btn.large:hover {
	color: #fff !important;
}

#f {
	background-color: #f2f7f9;
	color: #1b485d;
}

#f h4 {
	color: #1b485d;
}

#f p {
	color: #1b485d;
}

#f a {
	color: #1b485d;
	text-decoration: underline;
}

#f a:hover {
	color: #000;
}




/*
*
*
*
* 2 Elements
*/

/* 2.1 Nav */
.nav > li > a {
	font-weight: 700;
}

/* 2.2 Header Keyhotee */
#headerwrap.keyhotee {
	background: none #afe1f8;
	color: #1b485d;
}

#headerwrap.keyhotee .row {
	margin-bottom: 60px;
	text-align: center;
}

#headerwrap.keyhotee h1,
#headerwrap.keyhotee h2 {
	color: #1b485d;
}

#headerwrap.keyhotee h3 {
	font-family: "Open Sans";
	font-size: 14px;
	line-height: 20px;
	text-align: center;
}

#headerwrap.keyhotee .buttons {
	padding: 20px 0 10px 0;
}

#headerwrap.keyhotee .buttons a {
	display: inline-block;
	margin: 0 10px;
}

/* 2.3 Header BotsharesX */
#headerwrap.bitsharesx {
	background: none #105077;
}

#headerwrap.bitsharesx .buttons {
	padding: 30px 0 90px 0;
}

#headerwrap.bitsharesx .buttons a {
	display: inline-block;
	margin: 0 10px;
	padding: 14px 40px;
	background-color: #4885ab;
}

#headerwrap.bitsharesx .buttons a:hover {
	background-color: #619dc3;
}

/* 2.4 Content */
.boxes {
	margin-bottom: 70px;
}
.lightblue-bg {
	background-color: #f2f7f9;
	padding: 60px 0 0 0;
	overflow: hidden;
}

.lightblue-bg img {
	box-shadow: 0 0 40px #aec7d1;
}

.downloads h2 {
	font-size: 46px;
	font-weight: bold;
	margin-bottom: 30px;
}

.downloads p {
	color: #759eaf;
	font-size: 22px;
	line-height: 32px;
	width: 80%;
}

.paper {
	text-align: center;
}

.paper .part-01 {
	background-color: #1e4b60;
}

.paper .part-02 {
	background-color: #afe1f8;
}

.paper img {
	display: inline-block;
}

.paper .download-section {
	display: none;
	padding: 50px 0;
	background-color: #1e4b60;
	color: #fff;
}

.paper .download-section h2 a {
	font-size: 32px;
	color: #94bed2;
	text-decoration: none !important;
}

.paper .download-section h2 a:hover {
	color: #fff !important;
}

.full-info {
	padding: 40px 0;
}

.full-info h2 {
	font-weight: bold;
	font-size: 36px;
	margin-bottom: 40px;
}


#white.bitsharesx .boxes {
	padding-top: 40px;
}

#white.bitsharesx .boxes h2 {
	font-size: 30px;
	line-height: 40px;
}

#white.bitsharesx .boxes img.bitsharesx-logo {
	width: 100%;
}

#white.bitsharesx .boxes ul {
	list-style: none outside;
}

#white.bitsharesx .boxes li {
	background-color: #4aa6d4;
	display: inline-block;
	width: 27%;
	float: right;
	color: #fff;
	min-height: 140px;
	text-align: center;
	margin: 0 30px;
	margin-bottom: 30px;
	border-radius: 3px;
}

body #white.bitsharesx .boxes li h3 {
	margin: 0 0 15px 0;
	padding: 0;
	color: #fff;
	padding: 20px 15px;
	background-color: #105077;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

body #white.bitsharesx .boxes li span {
	font-size: 16px;
	font-weight: 700;
}

.bitsharesx .lightblue-bg {
	overflow: visible;
	padding-bottom: 90px;
}

.bitsharesx .specs-table h2 {
	font-size: 40px;
	text-align: center;
	margin-bottom: 50px;
}

#white.bitsharesx .specs-table ul {
	list-style: none outside;
	background-color: #fff;
	padding: 30px 40px 20px 40px;
	text-align: center;
	color: #1b485d;
	font-size: 15px;
	border-radius: 3px;
	border: 1px solid #d8e2e6;
	box-shadow: 0 2px 2px #d8e2e6;
}

#white.bitsharesx .specs-table .your-bank ul {
	color: #668fa2;
}

.bitsharesx .specs-table li {
	margin-bottom: 8px;
	padding-bottom: 8px;
	border-bottom: 1px solid #f2f7f9;
}

.bitsharesx .specs-table li:last-child {
	border: none;
}

.bitsharesx .specs-table li img {
	width: 100%;
	box-shadow: none;
	margin-bottom: 20px;
}

.bitsharesx .specs-table li h3 {
	margin-bottom: 20px;
}

.bitsharesx .specs-table li.final {
	padding-top: 10px;
}

.bitsharesx .specs-table li.final span {
	display: inline-block;
	background-color: #faeae7;
	padding: 10px 20px;
	color: #a94d3b;
	border-radius: 3px;
	font-size: 15px;
	font-weight: 700;
}

.bitsharesx .specs-table .bitshares li.final span {
	background-color: #ebf2dd;
	color: #7d9849;
	font-weight: 700;
}

.bitsharesx .action-buttons {
	padding: 70px 0 30px 0;
	text-align: center;
}

.bitsharesx .action-buttons a.btn {
	padding: 20px 70px;
	margin: 0 20px;
	font-size: 18px;
	box-shadow: none;
	border: none;
}

@media (max-width: 1200px) {

	#white.bitsharesx .boxes h2 {
		font-size: 26px;
		line-height: 36px;
	}

	#white.bitsharesx .boxes li {
		width: 25%;
		min-height: 140px;
		margin: 0 30px;
		margin-bottom: 30px;
	}

	.bitsharesx .specs-table li h3 {
		margin-top: 10px;
	}

	.bitsharesx .specs-table li {
		font-size: 13px;
	}
}

@media (max-width: 991px) {
	#headerwrap .col-md-3 {
		width: 50%;
		float: left;
		text-align: center;
		padding-bottom: 30px;
	}
	#headerwrap .col-md-3 h3 {
		width: 70%;
		margin: 0 auto;
	}

	.downloads .col-md-6 {
		padding-bottom: 50px;
	}

	.downloads .col-md-6:last-child {
		padding-bottom: 0;
	}

	#white.bitsharesx .boxes {
		text-align: center;
	}

	#white.bitsharesx .boxes h2 {
		font-size: 36px;
		line-height: 42px;
		text-align: center;
	}

	#white.bitsharesx .boxes img.bitsharesx-logo {
		width: 50%;
		margin: 0 auto 70px auto;
	}

	#white.bitsharesx .boxes ul {
		padding-right: 70px;
	}

	#white.bitsharesx .boxes li {
		width: 35%;
	}

	#white.bitsharesx .specs-table ul {
		width: 50%;
		margin: 0 auto 40px auto;
	}

	#white.bitsharesx .boxes li.clear-mobile {
		clear: right;
	}
}

@media (max-width: 768px) {
	.paper .part-01, .paper .part-02 {
		display: none;
	}

	.paper .download-section {
		display: block;
	}

	#headerwrap .buttons a {
		display: block !important;
		margin-bottom: 15px !important;
		width: 60%;
		margin: 0 auto 15px auto !important;
	}

	.full-info {
		padding: 0 30px;
	}

}

@media (max-width: 660px) {
	#white.bitsharesx .boxes h2 {
		padding: 0 30px;
	}

	#white.bitsharesx .boxes ul {
		padding-right: 20px;
	}

	#white.bitsharesx .boxes li {
		width: 90%;
		float: none;
	}

	#white.bitsharesx .boxes li h3 {
		font-size: 18px;
	}

	body #white.bitsharesx .boxes li span {
		font-size: 15px;
	}

	.action-buttons a {
		display: block;
		width: 90%;
		margin-bottom: 30px !important;
	}
}

@media (max-width: 600px) {
	#headerwrap .col-md-3 {
		width: 100%;
		float: none;
		text-align: center;
		padding-bottom: 30px;
	}
	#headerwrap .col-md-3 h3 {
		width: 50%;
		margin: 0 auto;
	}

	#headerwrap .buttons a {
		display: block !important;
		width: 100%;
		margin: 0 auto 15px 0 !important;
	}

	.downloads .col-md-6 {
		text-align: center;
	}

	.downloads .col-md-6 p {
		width: 100%;
	}

	#white.bitsharesx .boxes ul {
		padding: 0;
	}

	#white.bitsharesx .boxes li {
		width: 70%;
		float: none;
		min-height: 10px;
		padding-bottom: 20px;
	}

	#white.bitsharesx .boxes img.bitsharesx-logo {
		width: 90%;
	}

	#white.bitsharesx .specs-table ul {
		width: 90%;
	}
}

@media (max-width: 400px) {
	#headerwrap .col-md-3 h3 {
		width: 80%;
		margin: 0 auto;
	}

	.btn.large {
		font-size: 16px;
		padding: 10px 20px;
	}

	.downloads p {
		font-size: 17px;
		line-height: 25px;
	}

	.downloads a.btn,
	.sidebar a.btn {
		font-size: 14px;
		padding: 6px 10px;
	}
}
